/* ----- SETTINGS ------- */
*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

.container{
    padding-left: 5%;
    padding-right: 5%;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    width: 180px;
    height: 50px;
    background-color: #2A97B8;
    color: #fff;

    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #2A97B8;
    text-transform: uppercase;
}

.btn:hover{
    background-color: transparent;
    color: #2A97B8;
}

.section-top{
    text-align: center;
    margin-bottom: 50px;
}

.section-padding{
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-top > h3{
    font-size: 24px;
}

.section-top > p{
    margin-top: 10px;
    color: #999;
}

.wrap{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* .btn-left{
    margin: 0;
} */

.template-item{
    width: calc(100% / 4 - 2%);
    text-align: center;
    margin-bottom: 50px;
}

.bg2{
    background-color: #2A97B8;
}

.wrap-reverse{
    flex-direction: row-reverse;
}

/* --------------------------- HEADER ----------------------- */
.header{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: #333;
    align-items: center;
    text-transform: uppercase;
    color: #fff;

    position: fixed;
    right: 0;
    left: 0;
    z-index: 25;
}

.navs > a{
    color: #fff;
    margin-left: 20px;
    transition: .4s;
}

.navs > a:hover{
    opacity: 0.5;
}

.mobile-bar.fas{
    display: none;
}

/* ------------------------ HOME ---------------------------- */

.main-home{
    /* height: 100vh; */
    background-color: #f2f2f2;
    padding: 200px 0;

    /* display: flex;
    align-items: center; */

    text-align: center;
}

.home-content h4{
    font-size: 36px;
    font-weight: bold;
}

.home-content p{
    font-size: 18px;
    padding: 10px 20%;
}


/* ------------------------ ABOUT ---------------------------- */

.about-block{
    width: 48%;
}

.about-block > img{
    width: 100%;
}

.about-block > h4{
    font-size: 18px;
    margin-bottom: 20px;
}

.about-block > p{
    color: #999;
    font-size: 15px;
    margin: 20px 0;
}

.about-block > .btn{
    margin: 0;
}

/* ------------------------ COUNTER ---------------------------- */

.counter-item > h3{
    font-size: 42px;
    color: #fff;
}

.counter-item > p{
    font-size: 20px;
    color: #333;
}



/* ------------------------ TEAM ---------------------------- */

.team-item{
    width: calc(100% / 3 - 2%);
    display: flex;
    flex-direction: column;
}

.team-item > img{
    width: 100%;
    height: 100%;
}

.team-info{
    background-color: #2A97B8;
    color: #fff;
}

/* ------------------------ PORTFOLIO ---------------------------- */

.portfolio-item{
    width: calc(100% / 3 - 2%);
    position: relative;
    cursor: pointer;
}

.portfolio-item > img{
    width: 100%;
    height: 100%;
}

.portfolio-inner{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    opacity: 0;
    transition: .6s;
}

.portfolio-item:hover .portfolio-inner{
    opacity: 1;
}

/* ------------------------ CONSULT ---------------------------- */

.consult > h4{
    width: 70%;
    color: #fff;
}

.consult > .btn{
    background-color: #fff;
    color: #2A97B8;
}

.consult > .btn:hover{
    background-color: #2A97B8;
    border-color: #fff;
    color: #fff;
}

/* ------------------------ REVIEWS ---------------------------- */

.review-item{
    text-align: center;
    background-color: #f2f2f2;
    padding: 50px 0;
}

.review-item > img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.review-item > p{
    font-size: 15px;
    color: #333;
    padding: 20px 15%;
}


/* ------------------------ PARTNERS ---------------------------- */

.partners > img{
    width: 16%;
}

.partners{
    padding-bottom: 80px;
}

.footer{
    background-color: #333;
    color: #fff;
    text-align: center;

    padding-top: 15px;
    padding-bottom: 15px;
}


/* --------------------- ADAPTIVE ------------------------ */

@media (max-width: 768px){
    .navs{
        display: none;
    }

    .mobile-bar.fas{
        display: block;
    }

    .home-content > p{
        padding-left: 10%;
        padding-right: 10%;
    }

    .about-block{
        width: 100%;
    }

    .template-item{
        width: calc(100% / 2 - 2%);
    }

    .consult > h4{
        width: 100%;
        margin-bottom: 50px;
    }

    .review-item > p{
        padding-left: 7%;
        padding-right: 7%;
    }
}


@media (max-width: 475px){
    .template-item{
        width: 100%;
    }

    .partners > img{
        width: 45%;
        margin-bottom: 50px;
    }
}